#container-title{
    background-color: var(--color1);
    padding: 30px;
}
#title{
    color: var(--color5);
    font-size: 2.3em;
    font-weight: 600;
    display: block;
    text-decoration: none;
}
#nasa{
    font-weight: 800;
    background: url('../../images/fundo-texto.png') center no-repeat;
    background-size: cover;
    color: transparent;
    background-clip: text;
}
.background-slide{
    height: 60vh;
    background: black center center no-repeat;
    background-size: cover;
}
#photo-mars{
    background-size: contain;
}
.slide{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.slide p{
    font-size: 1.4em;
    max-width: 600px;
    padding: 10px;
    font-weight: 500;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.726);
}
.pagination-links ul{
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    gap: 30px;
}
.pagination{
    padding: 15px 0;
    font-weight: 500;
    font-size: .83em;
    cursor: pointer;
}
.pagination-active{
    font-weight: 700;
    font-size: .87em;
}