.container-rovers{
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    flex-wrap: nowrap;
    max-width: 700px;
    width: 100%;
    gap: 20px;
}
.rovers-box{
    width:150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.3em;
    font-weight: 500;
    color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.192);
    text-shadow: -2px 3px 3px #00000069;
}
.rovers-box:has(input[type="radio"]:checked), .rovers-box:hover{
    position: relative;
    bottom: 10px;
}
#curiosity{
    background: url('../../images/curiosity2.jpg') center center;
}
#opportunity{
    background: url('../../images/opportunity2.jpg') center center;
}
#spirit{
    background: url('../../images/spirit2.jpg') right center;
}
.rovers-data{
    max-width: 700px;
}
.rovers-data h2{
    color: var(--color3);
    margin-bottom: 15px;
    font-size: 1.8em;
    text-align: center;
    margin: 30px 0;
}
.data-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rovers-information-container{
   display: flex;
   flex-direction: column;
   gap: 5px;
}
.form-calendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.search-date{
    font-size: 1.1em;
    font-weight: 600;
    color: var(--color3);
}
.calendar{
    position: relative;
}
input[type="date"]{
    background-color:white;
    color: #777777;
    border: 1px solid #777777;
    padding: 10px;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    font-size: 1.5em;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}
.bi-calendar{
    position: absolute;
    top: 12px;
    right: 13px;
    color: #777777;
}
.button-submit{
    padding: 8px 13px;
    border: none;
    border-radius: 5px;
    background-color: var(--color3);
    color: white;
}
.no-photo{
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    color: var(--color3);
}
.container-img-mars{
    margin-top: 50px;
}
.img-mars{
    max-width: 700px;
    width: 100%;
    margin: 10px 0;
}

@media (width < 750px){
    .data-form{
        flex-direction: column;
    }
    .form-calendar{
        margin-top: 30px;
    }
}