.content-home{
    background-color: var(--color3);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 1000px;
}
.paragraph-home{
    color: var(--color5);
    font-size: .95em;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.image-home{
    height: 20vh;
    border-radius: 5px;
}